/***********************/
/* CSS Reset */
/***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  background-color: #f0faf9;
  color: #010101;
  overflow-y: scroll;
}
textarea,
input,
textarea:focus,
input:focus,
textarea:hover,
input:hover {
  outline: none;
  border: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
/***********************/
/* Color Palette */
/***********************/
/* Black */ /* #010101 */
/* #a17070*/
/* #8e5656 */
/* #924e4e */
/* #703f37 */
/* #68362e */
/* #1f100e; */
/* #f0faf9 */
/* #faf2ed */
/* #f0eeee */
/* #b9524b */

/***********************/
/* Spacing System */
/***********************/
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* Refactor Code at end including making it compatible with all browsers */

/***********************/
/* Header */
/***********************/
header {

  background-color: #f0eeee;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
}
.logo-title {
  font-family: "Charmonman Bold";
  color: #8e5656;
  font-size: 3rem;

  cursor: pointer;
  margin-left: 1.2rem;
}

.c-title {
  display: inline-block;
  transform: translateX(0.15rem);
}
.logo-link {
  text-decoration: none;
}
/***********************/
/* Navigation */
/***********************/
nav {
  color: #8e5656;
  font-size: 1.6rem;
  font-family: "Josefin Slab Semi Bold";
}
.main-nav {
  margin-top: 0.95rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.6rem;
  margin-right: 4.8rem;
}
.main-nav-list a:link,
.main-nav-list a:visited {
  display: inline-block;
  text-decoration: none;
  color: #8e5656;
  transition: all 0.7s;
}

.link-highlight {
  color: #010101 !important;
}
.link-structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3rem;
}

.link-embellishment {
  cursor: pointer;
  width: 5rem;
  position: absolute;
  opacity: 0;
  transform: translateY(1.7rem);
  transition: 0.4s linear all;
}
.link-embellishment.embellishment-show {
  display: block;
  opacity: 1;
}

/***********************/
/* Slider */
/***********************/
#picture-album {
  height: 80rem;
}
.slider {
  width: 100%;
  height: 100vh;
  position: relative;
}
.slider > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 900ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
.slide > img {
  display: block;
  width: 100%;
  height: 80rem;
  object-fit: cover;
  object-position: center;
}
.img-3 {
  object-position: 60% 60% !important;
}
.img-4 {
  object-position: 85% 85% !important;
}
.img-5 {
  object-position: center !important;
}
.img-6 {
  object-position: center !important;
}
.slider-button {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  width: 4rem;
  height: 5rem;
  transform: translateY(30%);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border-radius: 40rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.slider-button > span {
  transform: translateY(-0.33rem);
}

.slider-button:hover,
.slider-button:focus {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.slider-button:focus {
  outline: 1px solid black;
}
.slider-button.prev {
  left: 1rem;
}
.slider-button.next {
  right: 1rem;
}

/***********************/
/* About Us Home Description */
/***********************/

.about-container {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60rem;

  background-color: #f0faf9;
}
.description-container {
  width: 50%;
  color: #8e5656;
  /* margin-top: 13rem; */
  height: 20rem;
  margin-bottom: 8rem;
}
.description-container h1 {
  font-family: "Allura Regular", "Times New Roman", Times, serif;

  font-size: 6.8rem;
}
.description-container {
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description-container > p {
  font-size: 2rem;
  font-family: "EB Garamond Regular", "Times New Roman", Times, serif;
  text-align: center;
}
.embellishment {
  width: 10rem;
  transform: translateY(-1rem);
}
.escape-font {
  font-family: "Times New Roman", Times, serif;
}

/***********************/
/* Z-Layout */
/***********************/

.z-layout-top {
  display: flex;
  height: 55rem;
}

.z-layout-top-description {
  display: flex;
  background-color: #faf2ed;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.z-layout-bottom-description {
  display: flex;
  background-color: #faf2ed;
  width: 50%;

  justify-content: center;
  align-items: center;
}
.z-layout-bottom {
  display: flex;
}
.z-layout-inner-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.2rem;
}
.z-layout-image {
  width: 50%;
  object-fit: cover;
  height: 55rem;
}
.z-layout-image-top {
  object-position: 70% 70%;
}
.z-layout-image-bottom {
  object-position: 55% 55%;
}
.inner-description-title {
  font-size: 2.5rem;
  font-family: "Josefin Slab Semi Bold Italic", sans-serif;
  font-style: italic;
  /* font-size: 3rem;
  font-family: "Charmonman Regular"; */
  color: #010101;
  align-self: center;
}
.inner-description-subtitle {
  font-size: 2rem;
  font-family: "EB Garamond Regular", "Courier New", Courier, monospace;
}
.inner-description-paragraph {
  font-size: 1.6rem;
  font-family: "EB Garamond Regular", "Courier New", Courier, monospace;
  /* font-family: "Crimson Text Regular", "Courier New", Courier, monospace; */
}
/* .button {
  font-size: 1.4rem;
  width: 13rem;
  height: 5rem;
  text-align: center;
  background-color: #8e5656;
  border-style: double;
  border-width: 2px;
  border-color: #703f37;
  cursor: pointer;
  color: #faf2ed;
  font-family: "Romana BT", sans-serif;
 
} */
/* .button:hover {
  background-color: #b9524b;
} */

/* Alternative Button # 1*/
/* .button{
  font-size: 1.4rem;
  width: 13rem;
  height: 5rem;
  text-align: center;
  background-color: #8e5656;
  border-style: double;
  border-width: 2px;
  border-color: #703f37 ;
  cursor: pointer;
  color: #faf2ed;
  font-family: "Romana BT", cursive;
   border-radius: 64% 0% 64% 0%;
} */
/* .button:hover{
  background-color: #b9524b ;
} */

/* Alternative Button # 2*/

/* .button {
  padding: .9rem 1.7rem;
  color: white;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background-color:  hsl(0, 0%, 12%);
  border: solid 1px #1e1e1e;
  box-shadow: inset 0 0 0 2px white;
  margin-right: 1em;
  cursor: pointer;
  font-family: "Romana BT", sans-serif;
}
.z-layout-top .button{
  transform: translateY(1.5rem);
}

.z-layout-bottom .button{
  transform: translateY(2rem);
}
.button:hover {
  background-color: hsl(0, 0%, 20%);
  box-shadow: inset 0 0 0 4px white;
}

.button:active {
  background-color: hsl(0, 0%, 30%)
}

.button:visited {
  background-color: hsl(0, 0%, 20%);
} */

/* Alternative Button # 3*/
/* .button {
  height: 5.5rem;
  width: 18rem;
  background-color: #faf2ed;
  border: 2px solid;
  letter-spacing: 2.5px;
  font-family: "Romana BT", sans-serif;
  cursor: pointer;
  

}
.button{
  transition:  1s ease-in-out;
}
.button:hover {
  background-color: #8e5656;
  color: white;
  font-family: "Romana BT Bold", sans-serif;
  border: 2px solid  #8e5656;
}
.button:active {
  background-color: #8e5656;
  color: white;
  font-family: "Romana BT Bold", sans-serif;
  border: 2px solid  #8e5656;
} */

/* Alternative Button # 4*/
.button {
  height: 5.5rem;
  width: 18rem;
  background-color: #faf2ed;
  border: 2px solid;
  letter-spacing: 2.5px;
  font-family: "Romana BT", sans-serif;
  cursor: pointer;
}
.button {
  transition: background-color 0.3s ease-out, color 1.3s ease-out;
}
.button:hover {
  background-color: #8e5656;
  color: white;
  font-family: "Romana BT Bold", sans-serif;
  border: 2px solid #8e5656; /*#703f37*/

  /* Box Shadow #1 */
  /* box-shadow: 0 0 1rem 0.3rem #e0cfc7; */

  /* Box Shadow #2 */
  /* box-shadow: 0 0 3rem -0.4rem #703f37; */

  /* Box Shadow #3 */

  /* box-shadow: 0 0 1rem #8e5656 */

  /* Box Shadow #4 */
  /* box-shadow: 0 1rem 1rem -0.5rem #8e5656; */

  /* Box Shadow #5 */
  /* box-shadow: 0 0 1rem 0.5rem #8e5656; */
  /* Box Shadow #6 */
  /* box-shadow: 0 0 0.5rem 0.08rem #8e5656; */

  /* No Box Shadow */
}
.button:active {
  background-color: #8e5656;
  color: white;
  font-family: "Romana BT Bold", sans-serif;
  border: 2px solid #8e5656;
}
.z-layout-top-description .button {
  transform: translateY(1.5rem);
}
.z-layout-bottom-description .button {
  transform: translateY(3rem);
}

/***********************/
/* Dish Gallery */
/***********************/
.dish-gallery-container {
  width: auto;
  max-width: 100vw;
  /* max-height: 85rem; */
  background-color: #f0faf9;
}
.dish-gallery-top {
  height: 44.6rem;
  width: 145.3rem;
  display: flex;
  /* overflow: hidden; */
}
.dish-gallery-bottom {
  height: 44.6rem;
  width: 145.3rem;
  display: flex;
  /* overflow: hidden; */
}
.dish-gallery-top-gap {
  background-color: #f0faf9;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dish-gallery-bottom-gap {
  height: 2rem;
  width: 100%;
  background-color: #f0faf9;
}
.dish-gallery-title {
  font-size: 3.5rem;

  font-family: "Romana BT";
  z-index: 3;
  pointer-events: none;
  color: #8e5656;
}

.dish-gallery-img-container {
  position: relative;
  height: 44.6rem;
  width: 49rem;
  overflow: hidden;
  min-width: 20rem;
  min-height: 20rem;
}
.dish-gallery-img {
  cursor: pointer;
  min-width: 20rem;
  min-height: 20rem;
  height: 44.6rem;
  width: 49rem;
  object-fit: cover;
}

.dish-gallery-img-title {
  z-index: 3;
  text-decoration: none;
  position: absolute;
  /* Font Size #1 */
  /* font-size: 3rem; */
  /* Font Size #2 */
  font-size: 2.2rem;
  /* Font Size #3 */
  /* font-size: 2.4rem; */
  /* Font Size #4 */
  /* font-size: 1.8rem; */

  color: #010101;
  top: 2.5rem;
  left: 2.5rem;
  text-shadow: -0.5px 0 #8e5656, 0 0.5px #8e5656, 0.5px 0 #8e5656,
    0 -0.5px #8e5656;
  font-family: "EB Garamond Medium", "Romana BT" !important;
  pointer-events: none;
}
.dish-gallery-img {
  transition: 0.25s linear;
}
.dish-gallery-img:hover {
  transform: scale(1.15);
}
/* Backdrop #1 */
.dish-gallery-img-backdrop {
  z-index: 2;
  top: 2.525rem;
  left: 1.4rem;
  width: 10rem;
  height: 2.5rem;
  background-color: rgb(240, 250, 249, 0.35);
  text-decoration: none;
  position: absolute;

  font-size: 2.2rem;
}
/* Backdrop #2 */

/* .dish-gallery-img-backdrop {
  z-index: 2;
  top: 3.550rem;
  left: 1.4rem;
  width: 10rem;
  height: 0.5rem;
  background-color:rgb(240, 250, 249, 0.7);
  text-decoration: none;
  position: absolute;

  font-size: 2.2rem;

} */

/* Backdrop #3 */
/* .dish-gallery-img-backdrop {
  z-index: 2;
  top: 3.3rem;
  left: 1.4rem;
  width: 10rem;
  height: 1rem;
  background-color: rgb(185, 82, 75, 0.4);
  text-decoration: none;
  position: absolute;

  font-size: 2.2rem;

  border-radius: 10rem;
} */
.offset-1 {
  left: 1.4rem !important;
}
.invisible-link {
  display: flex;
}
/* No Animation */
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
/* Fog Animation */
.show-fog {
  opacity: 1;
  transition: opacity 1s ease;
}
.hide-fog {
  opacity: 0;
  transition: opacity 1s ease;
}

/***********************/
/* Footer */
/***********************/
.footer {
  display: flex;
  align-items: center;
  min-height: 25rem;
  width: 145.3rem;
  background-color: #8e5656;
}
.footer-icon-container {
  /* margin-bottom: 3rem; */
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: 4.5rem; */
  transform: translateX(0.25rem);
}
.footer-icon-container > img {
  pointer-events: none;
}
.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-icon {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-family: "Amarelle Regular" !important;
  color: #f0faf9;
}
.footer-embellishment {
  width: 28rem;
}
.one {
  transform: rotate(180deg);
}
/* Footer Description #1 */
/*
.footer-description-container {
  font-family: "EB Garamond Medium";
  color: #f0faf9; 

  /* "EB Garamond Medium" */
/* "EB Garamond Regular" */
/* "Romana BT Bold" */
/* "Romana BT" */
/*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;

}
.fade{
  color: rgb(240, 250, 249,0.5);
  transition: all 0.165s ease-in-out;
  border-bottom: 1px solid rgb(1, 1, 1, 0.25) !important;
}
.brighten{

  color: #f0faf9;
  transition: all 0.165s ease-in-out;
  border-bottom: 1px solid rgb(1, 1, 1, 0.5) !important;
}
.footer-description-container > h3 {
  margin-bottom: 2.3rem;
  font-size: 1.7rem;
}
.footer-description-container > p{
  border-bottom: 1px solid rgb(1, 1, 1, 0.5);
  padding-bottom: 0.3rem;
  cursor: pointer
}
*/

/* Footer Description #2 */
.footer-description-container {
  font-family: "EB Garamond Medium";
  color: #f0faf9;

  /* "EB Garamond Medium" */
  /* "EB Garamond Regular" */
  /* "Romana BT Bold" */
  /* "Romana BT" */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
}
.fade {
  color: rgb(240, 250, 249, 0.5) !important;
  transition: all 0.165s ease-in-out;
  border-bottom: 1px solid rgb(1, 1, 1, 0.25) !important;
}
.brighten {
  color: #f0faf9 !important;
  transition: all 0.165s ease-in-out;
  border-bottom: 1px solid rgb(1, 1, 1, 0.5) !important;
}

.footer-description-container > h3 {
  margin-bottom: 2.3rem;
  font-size: 1.7rem;
}
.footer-description-container > a {
  display: block;
  text-decoration: none;
  color: #f0faf9;
  border-bottom: 1px solid rgb(1, 1, 1, 0.5);
  padding-bottom: 0.3rem;
  cursor: pointer;
}

.footer-description-container > .single-description > a {
  display: block;
  text-decoration: none;
  color: #f0faf9;
  border-bottom: 1px solid rgb(1, 1, 1, 0.5);
  padding-bottom: 0.3rem;
  cursor: pointer;
}
.footer-description-container > .single-description > a:first-child {
  margin-bottom: 0.2rem;
}
.single-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-flex {
  display: flex;
  margin-top: 2.6rem;
  /* margin-top: 2.6rem; */
  gap: 5rem;
  max-width: 36.9rem;
}
.description-flex-one {
  /* margin-right: 10rem; */
  transform: translateX(-2.5rem);
}
.description-flex-two {
  /* margin-left: 13rem; */
  transform: translateX(2.5rem);
}
.description-flex-two > .footer-description-container:last-child {
  transform: translateY(0.8rem);
}

.footer-icon > a,
.footer-icon > a:active,
.footer-icon > a:visited {
  text-decoration: none;
  color: inherit;
}
/***********************/
/* Menu Page */
/***********************/
.menu {
  height: 200rem;
}
.menu-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70rem;
  font-size: 1.4rem;
  width: 145.3rem;
  gap: 3rem;

  background-color: #f0faf9;
}
.menu-title {
  margin-top: 10rem;
  margin-bottom: 8rem;
  font-size: 5.6rem;
  font-family: "Romana BT Roman", "Times New Roman", Times, serif;
  letter-spacing: 1.5rem;
}
.menu-title-lines {
  display: inline-block;
  transform: translateY(-0.6rem);
}
.dish-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
  font-family: "EB Garamond Regular";
  /* font-family: "Crimson Text Regular", "Courier New", Courier, monospace; */
}
.dish-description:last-child {
  margin-bottom: 2.5rem;
}
.course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course-title {
  font-size: 6rem;
  margin: 1.2rem 0 4.6rem 0;
  font-family: "Amarelle Regular";
  color: #703f37;
}

.tilde {
  transform: translateY(0.14rem);
  display: inline-block;
  color: #703f37;
}

.dish-description > .title {
  font-size: 1.5rem;
  color: #703f37;
}
.escabeche-anchor,
.zeppole-anchor,
.porchetta-anchor,
.parrozzo-anchor,
.gnocchi-anchor,
.bruschetta-anchor {
  transform: translateY(-28.5rem);
}

/***********************/
/* Reservations Page */
/***********************/
input {
  font-family: "Crimson Text Regular";
  font-size: 1.5rem;
}
section.reservations-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reservations-title,
.orders-title {
  font-size: 6.8rem;
  margin-bottom: 1rem;
  color: #8e5656;
  font-family: "Allura Regular";
}
.reservations-title-container,
.orders-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.reservations-title-container {
  transform: translateX(-4px);
}
.reservation-description-container,
.orders-description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p.reservation-description,
p.orders-description {
  font-family: "Romana BT";
  font-size: 1.3rem;
  color: #010101;
  margin-bottom: 1rem;
}

p.reservation-description:last-child,
p.orders-description:last-child {
  margin: none;
}
p.reservation-description > a,
p.reservation-description > a:visited,
p.orders-description > a,
p.orders-description > a:visited {
  text-decoration: none;
  color: #010101;
  font-family: "Romana BT Bold";
}
.icon {
  color: #d1a9a9;
}
.icon-container {
  cursor: pointer;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 2rem;
  background: #8e5656;
  transition: background-color 0.25s ease-in, width 0.55s ease-in-out;
}
.icon-container:hover,
.icon-container:active {
  background-color: #9c6767;
}
.reservation-form-container,
.orders-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #010101;
}
.reservation-form,
.orders-form {
  overflow: hidden;
  background-color: #faf2ed;
  height: 0;
  width: 90rem;
  transition: height 0.55s ease-in-out;
  /* margin-bottom: 3rem; */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */

  /* Default Color */
  /* Color 1 */
  color: #a17070;
  /* Color 2  */
  /* color: #6e4b45; */

  /* Color 3  */
  /* color: #703f37; */
  /* Color 4 */
  /* color:#b9524b; */
  /* Color 5 */
  /* color: #b86762; */
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  /* Default Color */
  /* Color 1 */
  /* color: #a17070; */
  /* Color 2  */
  /* color: #6e4b45; */
  /* Color 3  */
  /* color: #703f37; */
  /* Color 4 */
  /* color:#b9524b; */
  /* Color 5 */
  /* color:#b86762; */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  /* Default Color */
  /* Color 1 */
  /* color: #a17070; */
  /* Color 2  */
  /* color: #6e4b45; */
  /* Color 3  */
  /* color: #703f37; */
  /* Color 4 */
  /* color:#b9524b; */
  /* Color 5 */
  /* color: #b86762; */
}
.on {
  width: 100rem;

  background-color: #d1a9a9 !important;
}

.icon-on {
  color: #8e5656;
}
.active {
  height: 44.9rem;
}
.name-container,
.secondary-container,
.tertiary-container,
.time-date-container {
  margin-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
/* .name-container{
  margin-top: 4rem;
} */
.form-container {
  display: flex;
  flex-direction: column;
}
.form-container > input {
  border: 2px solid rgb(142, 86, 86, 0.5);
  height: 2.5rem;
  width: 30rem;
  background-color: #f0faf9;
}

textarea:focus,
input:focus {
  height: 2.5rem;
  width: 30rem;
  outline: 1px solid rgb(142, 86, 86) !important;
  background-color: #f0faf9;
}

.reservation-form > div > div > label,
.orders-form > div > div > label {
  margin: 0 0.21rem;
  font-family: "EB Garamond Regular";
  font-size: 1.55rem;
  padding-bottom: 0.1rem;
}
.optional-input {
  display: inline-block;
  color: rgb(112, 63, 55, 0.7);
  font-size: 1.3rem;
}
.opt_1 {
  transform: translateX(15.65rem);
}
.opt_2 {
  transform: translateX(21.45rem);
}
.time-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.button-container {
  margin-top: 3rem;
  /* position: relative; */
  text-align: center;
}
.reservation-form button,
.orders-form button {
  /* position: absolute; */
  cursor: pointer;
  color: #703f37;
  width: 6em;
  height: 3.5rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  border: 1px solid #010101;
  transition: all 0.1s ease-in-out;
  font-family: "EB Garamond Regular";
}
.reservation-form button:hover,
.orders-form button:hover,
.reservation-form button:active,
.orders-form button:active {
  border-color: #703f37;

  color: #010101;
}

.img-container {
  margin: 0 auto 3rem;
  width: 85rem;
  height: auto;
}
.reservation-img {
  margin-bottom: 6rem;
}
.reservation-footer {
  margin-top: 9rem;
}
.input-error {
  display: none;
}
.input-errors {
  height: 1rem;
}

.show-error {
  display: block !important;
}
/***********************/
/* Orders Page */
/***********************/
.orders-gallery {
  margin-top: 6rem;
}
.orders-title-container {
  transform: translateX(-0.35%);
}

.orders-gallery-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.orders-gallery-photo-container > p {
  margin-bottom: 0.8rem;
}
.orders-gallery-photo {
  width: 20rem;

  flex: 1 0 auto;
  cursor: pointer;
  border: solid 3px transparent;
}
.orders-item-description-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders-item-title {
  text-align: center;
  font-size: 1.8rem;
  transform: translateY(-2rem);
  font-family: "Romana BT";
}
.orders-item-description-button {
  margin-top: 0.4rem;
  font-size: 1.3rem;
  width: 8.5rem;
  height: 2.5rem;
  /* Black */ /* #010101 */
  /* #a17070*/
  /* #8e5656 */
  /* #924e4e */
  /* #703f37 */
  /* #68362e */
  /* #f0faf9 */
  /* #faf2ed */
  /* #b9524b */
  color: #faf2ed;
  background-color: #b9524b;
  border: 1px solid #dababa;
  box-shadow: 0 0 0 2px #68362e;
  font-family: "Crimson Text Regular";
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.orders-item-description-button:hover {
  color: #68362e;
  background-color: #dababa;
  border: 1px solid #b9524b;
  box-shadow: 0 0 0 2px #faf2ed;
}
.orders-item-description-button:active {
  color: #4b201a;
  border: 1px solid #b9524b;
  box-shadow: 0 0 0 1px #b9524b;
  transition: none;
}
.orders-gallery-photo:hover {
  border-color: #010101;
  border-color: var(--hover-border-color);
}
.orders-gallery-photo:active {
  border-color: #924e4e;
  border-color: var(--active-border-color);
}
.orders-gallery-preview {
  z-index: 4;

  width: 60rem;
  height: 60rem;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.orders-gallery-preview-show {
  visibility: visible;
}

.orders-form-container > .orders-form {
  margin-bottom: 9rem;
}
.orders-form-container > .active {
  height: 27.1rem;
}
.orders-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orders-cart {
  width: 70rem;
  height: auto;
  border: solid #703f37 3px;
  background: #faf2ed; /* #703f37 */
  /* #68362e */
}
.table-headers {
  width: 14rem;
}
.table-data {
  width: 14rem;
  text-align: center;
}
.table-headers-row {
  /* margin-top: 0.1rem; */
  border-top: none !important;
}
.table-data-row {
  display: flex !important;

  justify-content: space-evenly;
}

.table-data-row {
  position: relative;
}
.table-button {
  border: none;
  position: absolute;
  right: 1.2rem;
  bottom: 0.2rem;
  cursor: pointer;
  padding: 0.1rem;
  width: 4px;
}

.add-amount {
  border: none;
  position: absolute;
  right: 32.2rem;
  bottom: 0.2rem;
  cursor: pointer;
  padding: 0.1rem;
  width: 4px;
}

.subtract-amount {
  border: none;
  position: absolute;
  right: 30.6rem;
  bottom: 0.2rem;
  cursor: pointer;
  padding: 0.1rem;
  width: 4px;
}
.table-row .fa-x {
  color: #b9524b;
  font-size: 10px;
}
.table-row .fa-angle-up,
.table-row .fa-angle-down {
  color: #b9524b;
  font-size: 10px;
}

.table-headers-row > span {
  display: inline-block;
}
.orders-cart th {
  font-family: "Romana BT Bold";
  font-size: 1.4rem;
  flex: 0 0 auto;
}
.orders-cart td {
  font-family: "Romana BT Roman";
  font-size: 1.3rem;
  flex: 0 0 auto;
}
.orders-cart tr {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid 1px #010101;
  border-left: none;
  border-right: none;
  position: relative;
}
.orders-cart tr:last-child {
  border-bottom: none;
}
.orders-cart-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-family: "Romana BT";
}
.orders-cart-description {
  margin-top: 1rem;
  font-family: "EB Garamond Regular";
  font-size: 1.3rem;
  transform: translateY(-2.3rem);
}

.orders-gallery-photo-container > .price {
  font-family: "EB Garamond Medium";
  text-align: center;
  font-size: 1.6rem;
  margin-top: 0.9rem;
}
.shipping-included {
  text-align: center;
  font-family: "EB Garamond Regular";
  color: rgb(112, 63, 55, 0.7);
  font-size: 1.2rem;
}
.asterisk {
  display: inline-block;
  margin-right: 0.1rem;
  transform: translateY(0.2rem);
}
/* Orders Success Page */
.orders-success-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 45rem;
  background-color: #faf2ed;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2.2rem;
  margin-bottom: 6.3rem;
  font-family: "EB Garamond Regular";
}
.scroll-element {
  visibility: hidden;
  transform: translateY(-35.5rem);
}

.orders-success {
  text-align: center;

  font-size: 3rem;

  position: relative;
}

.orders-success-redirect {
  text-align: center;
  position: relative;
  display: block;
}
/***********************/
/* Contact Page */
/***********************/
.contact-footer {
  position: relative;
  bottom: 0px;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.contact-ele {
  margin-bottom: 1rem;
  font-family: "Romana BT";
}
.contact-header {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-family: "Amarelle Regular";
}

.contact-description {
  font-size: 1.8rem;
  /* font-family: "Crimson Text Regular"; */
}
.contact-description-small {
  font-size: 1.3rem;
}
.contact-description-phone {
  font-size: 1.6rem;
  cursor: pointer;
  color: #1f100e;
}
.contact-description-phone:hover,
.contact-description-phone:active,
.contact-description-email:hover,
.contact-description-email:active {
  text-decoration: underline;
}

.contact-description-email {
  font-size: 1.6rem;
  /* text-decoration: underline; */
  cursor: pointer;
  margin-bottom: 0.2rem;
  color: #1f100e;
}

.contact-description-container {
  background-image: url("/images/brochure_images/ingredients_with_clipboard.jpg");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-position: center;
  background-position: 10% 10%;
  width: 120rem;
  height: 80rem;
  position: relative;
  transform: scale(1);
  background-size: cover;
  z-index: 3;
}

/***********************/
/* Show Elements */
/***********************/
.hide-ele {
  opacity: 0;
}
.show-ele {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

@font-face {
  font-family: "Charmonman Regular";
  src: url("/fonts/Charmonman-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charmonman Bold";
  src: url("/fonts/Charmonman-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Amarelle Regular";
  src: url("/fonts/AmarelleDemoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amarelle Italic";
  src: url("/fonts/AmarelleDemoItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Text Regular";
  src: url("/fonts/CrimsonText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Allura Regular";
  src: url("/fonts/Allura-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Slab Italic";
  src: url("/fonts/JosefinSlab-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Josefin Slab Semi Bold";
  src: url("/fonts/JosefinSlab-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Slab Semi Bold Italic";
  src: url("/fonts/JosefinSlab-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Josefin Slab Bold Italic";
  src: url("/fonts/JosefinSlab-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Romana BT";
  src: url("/fonts/RomanaBT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Romana BT Roman";
  src: url("/fonts/RomanaBTRoman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Romana BT Bold";
  src: url("/fonts/RomanaBoldBT.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond Regular";
  src: url("/fonts/EBGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EB Garamond Medium";
  src: url("/fonts/EBGaramond-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
